img {
  /* max-width: 100%;
  max-height: 100%; */
  border-radius: 5%;
  width: auto;
  height: 300px;
  display: block; /* remove extra space below image */
}

.fetch-photos {
  margin: 5px;
  height: 400px;
  padding: 10px;
  background-color: rgb(236, 236, 122);
}

.topThree img {
  height: 160px;
  margin: 10px auto;
}
.buttonDiv {
  width: 50px;
}

.fetch-photos .col img {
  margin: 0 auto;
}

h1 {
  font-family: "Staatliches", cursive;
}
