img {
  border-radius: 5%;
  width: auto;
  height: 300px;
  display: block; /* remove extra space below image */
}

.fetch-photos {
  margin: 5px;
  height: 400px;
  padding: 10px;
  background-color: #c197d2;
  border-radius: 20px;
  border: white solid 4px;
}

.topThree img {
  height: 160px;
  margin: 10px auto;
}

.topThree {
  background-color: rgb(253, 191, 76);
  color: rgb(58, 57, 57);
  border-radius: 20px;
  margin: 100px;
  border: rgb(58, 57, 57) solid 4px;
  padding: 30px;
}

.topThree h1 {
  font-family: "Bungee Inline", cursive;
}

.buttonDiv {
  width: 300px;
}

.fetch-photos .col img {
  margin: 0 auto;
}

h1 {
  font-family: "Staatliches", cursive;
}

#root {
  background-color: #82c2f1;
}

header {
  padding: 20px;
}
